{#
/**
* @file
* Template for the split style.
*/
#}
{%
  set classes = [
    'o-grid',
    'o-grid--col' ~ options.columns,
  ]
%}

{% if options.gap == false %}
	{% set gap_class = ['o-grid--nogap',] %}
	{% set classes = classes|merge(gap_class) %}
{% endif %}

{% if options.border == true %}
	{% set border_class = ['o-grid--border',] %}
	{% set classes = classes|merge(border_class) %}
{% endif %}


<div{{ attributes.addClass(classes) }}>
	{% for row in rows %}
		<div class="o-grid__item">
	  	{{ row }}		
		</div>
	{% endfor %}
</div>
